html{

scroll-behavior: smooth;

}

.menu{

  background-color: #9dbcbc;
  padding: 2%;
  line-height: 2em;

}

.itens_menu{
  text-align: center;
}

.itens_menu a:link{
    text-decoration: none;
    background-color: rgb(101, 101, 240);
}

.itens_menu a:visited{
    color: black;
}

.itens_menu a:hover{
    font-size: 120%;
    text-decoration: none;



}

.itens_menu a:active{ 
    color: white;
    text-decoration: line-through;


}


body{

  background-color:#dae2cb;

}

.img_topo{

    width: 100%;
}

figure{

    text-align: center;
    margin-bottom: 50px;
}
 
.img_corpo{

     width: 30%;
     margin: 1.5em;
    
}

.container{ 

    width: 80%;
    margin: auto;
}

p{


    background-color: #9dbcbc;
    text-align: center;
    line-height: 2em;
    font-size: 1.5em;
    font-family: 'Roboto Mono', monospace;

   }

h1{

    background-color: #9dbcbc;
    text-decoration: underline;
    border: 10px dashed #9dbcbc;
    font-weight: bolder;
    font-size: 2em;
    font-family: 'Roboto Mono', monospace;

}


h2{

    text-align: center;
    font-size: 2em;

    }

h3{

    text-align: center;
    font-size: 2em;

}

.botao{

 width: 130px;
 height: 50px;
 color: whitesmoke;
 padding: 1%;
 margin: auto;
 margin-bottom: 2%;
 margin-top: 2%;

}

.botao p{

 padding-top: 9px;
 padding-right: 12px;
 


}

.botao a:link, .botao a:visited{

 color: black;
 text-decoration: none;

}

.botao a:hover{
  
   color: white;
   font-weight: bold;

}

.botao:hover{

    background-color: #dae2cb;
    font-size: 120%;
}

.hino{

 text-align: center;
 width: 80px;
 margin: auto;


}

footer{
    
    background-color: #9dbcbc;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 20px;
    margin-top: 2%;



}

.direita{

    float: right;
    width: 15%;
    margin-left: 2%;
    margin-top: 1%;
    margin-right: 2%;
    

}

.esquerda{

  float: left;
  width: 15%;
  margin-left: 2%;
  margin-top: 1%;

}

a:link{

    text-decoration: none;
    background-color: rgb(101, 101, 240);

}

a:visited{

    color: black;

}

a:hover{

    font-size: 120%;
    text-decoration: none;
}

a:active{

    color: white;
    text-decoration: line-through;

}

table{
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,th{
    border: 3px solid red;
    text-align: left;
    padding-top: 15px;

}