html{

scroll-behavior: smooth;

}

.menu{

  background-color: #9dbcbc;
  padding: 2%;

}

.itens_menu{

  text-align: center;

}


body{

  background-color:#dae2cb;

}

.img_topo{

    width: 100%;
}

figure{

    text-align: center;
    margin-bottom: 50px;
}
 
.img_corpo{

     width: 30%;
     margin: 1.5em;
    
}

.container{ 

    width: 80%;
    margin: auto;
}

p{


    background-color: #9dbcbc;
    text-align: center;
    line-height: 1.5em;
    

   }

h1{

    background-color: #9dbcbc;
    text-decoration: underline;
    border: 5px dashed #9dbcbc;
    font-weight: bolder;

}


h2{

    text-align: center;

    }

h3{

    text-align: center;

}

.botao{
 width: 130px;
 height: 50px;
 background-color: #9dbcbc;
 color:black;




}

.botao p{

 padding-top: 9px;
 padding-right: 12px;


}

.hino{

 text-align: center;
 width: 80px;
 margin: auto;


}

footer{
    
    background-color: #9dbcbc;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 50px;



}